.App {
  text-align: center;
  display: flex;
}

.product__img-wrapper {
  width: 300px;
  height: 500px;
}

.product__img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__black-link {
  position: relative;
  display: block;
  width: 35px;
  align-self: flex-start;
  height: 35px;
  border-radius: 3rem;
  background-color: #000;
  margin: 5px;
}

.product__colors {
  display: flex;
}

.product__black-link::after {
  content: "";
  display: block;
  width: 41px;
  height: 41px;
  border-radius: 3rem;
  position: absolute;
  top: -4px;
  left: -4px;
}

.product__white-link {
  margin: 5px;
  position: relative;
  display: block;
  width: 35px;
  align-self: flex-start;
  height: 35px;
  border-radius: 3rem;
  outline-offset: -1px;
  border: 1px solid #8c8c8c;
}

.disabled {
  pointer-events: none;
}
